bucket         = "magic-cert-terraform-state-442809140287"
key            = "v03/sebas/terraform.tfstate"
region         = "us-east-1"
use_lockfile   = true
encrypt        = true
profile        = "sebas"
